/*
    For responsive styles,
    play around with wrapper class ( width, height ).
*/
.wrapper {
    display: flex;
    height: 400px;
  }
  
  #mynetwork {
    flex: 1;
    border: 1px solid #ddd;
  }
  
  #minimapRadar {
      position: absolute;
      background-color: transparent;
      border: 1px solid grey;
      user-select: none;
  }
  
  .minimapImage {
    position: absolute;
      user-select: none;
  }
